@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-accentColor: #8D98CE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 12px;
  line-height: 1;
}
a {
  color: var(--color-accentColor);
}
.logoUploadContainer {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .dragRegion {        
    border-radius: 8px;
    background-blend-mode: normal;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%234F5260' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='20' stroke-linecap='square'/%3e%3c/svg%3e");
      background-blend-mode: lighten;
    }
  }
}